# ─── BASE DE DATOS ───────────────────────────
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public"

# ─── API FOOTBALL ────────────────────────────
API_FOOTBALL_KEY="tu_api_key_aqui"

# ─── APP ─────────────────────────────────────
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"
JWT_SECRET="una-clave-secreta-larga-y-aleatoria-minimo-32-chars"
CRON_SECRET="una-clave-secreta-para-proteger-el-cron"
