# ─── BASE DE DATOS ───────────────────────────
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public"

# ─── API FOOTBALL ────────────────────────────
API_FOOTBALL_KEY="tu_api_key_aqui"

# ─── APP ─────────────────────────────────────
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"
JWT_SECRET="una-clave-secreta-larga-y-aleatoria-minimo-32-chars"
CRON_SECRET="una-clave-secreta-para-proteger-el-cron"

 # ─── CLOUDINARY ───────────────────────────────────── 
 CLOUDINARY_API_KEY=""
 CLOUDINARY_CLOUD_NAME=""
 CLOUDINARY_API_SECRET=""
 
 # ─── EMAIL (SMTP) ───────────────────────────────
 EMAIL_FROM="Tipster <no-reply@tipster.com>"
 SMTP_HOST="smtp.gmail.com"
 SMTP_PORT="587"
 SMTP_USER="tu-usuario"
 SMTP_PASS="tu-password"